body {
    margin: 0;
}
.App {
    width: 100%;
    display: flex;
    justify-content: space-around;
    margin: 10px;
}

@media (max-width: 768px) {
    .App {
        flex-direction: column;
        justify-content: space-around;
    }
}